<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>LA1TV Dashboard<% end %>

<div class="gridster">
  <ul>
      
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="streams_count_real_time" data-view="Graph" data-title="Current Viewiers" style="background-color:#47bbb3;"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="visitor_count_real_time" data-view="Graph" data-title="Website Users"></div>
    </li>
  </ul>
</div>