<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1}]')
});
</script>


<% content_for :title do %>LA1TV Dashboard<% end %>

<div class="gridster">
  <ul>
      
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptimerobot" data-view="Uptimerobot"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="streams_count_real_time" data-view="Graph" data-title="Current Viewiers" style="background-color:#47bbb3;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="visitor_count_real_time" data-view="Graph" data-title="Website Users"></div>
    </li>

  </ul>
</div>